.brand-wrap {
    position: relative;
}

.brand-bg {
    position: absolute;
    /* 不可用position:static，因為位階高低，畫面前後效果不一 */
    z-index: -3;
    width: 100%;
}

/* .h2_bg{
    position: relative;
} */

/* 使用偽元素來作為元素中間的切割線 */
/* .h2_bg::before {
    content: "";
    display: inline-block;
    border-right: 0.1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    width:50%;
    height:100%;
} */

/* .brandlist_bg{
    position: relative;
} */
.brandlist_bg {
    position: relative;
    /* ✅ 必加 */
}

.brandlist_bg::before {
    position: absolute;
    content: "";
    display: inline-block;
    border-right: 0.1px solid rgba(255, 255, 255, 0.1);
    /* 線條置中改方法，因為py-10 */
    transform: translateY(-50%);
    top: 50%;
    height: 100%;
    width: 50%;
    /* 但為何感覺線沒置中???? */
}

