.fms-bg {
    position: fixed;
    z-index: -3;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/homepage/fms_bg_1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* let header move together with bg */
    top: 0%;
}

.fmsfunction {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #2cdbc1, #1d6079);
}

.function_card {
    /* border-radius: 10px; */
    background-color: rgb(23, 35, 55, 0.8);
}

.fms_picture {
    background-image: url(../images/homepage/fms_building.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fmsfunction_svg{
    width: 60%;
    height: 60%;
}