.morebutton {
    border-radius: 30px;
    width:100px;
    left: 10%;
    top: 100%;
    transform: translateX(100%);
    transform: translateY(-100%);
    /* 30px */
    border: 1px solid #f3dd52;
    color: #f3dd52;
}


.morebutton:hover {
    border: 2px solid #f3dd52;
    color: rgba(17, 25, 40, 0.8);
    /* bg:dark */
    background-color: #f3dd52;
}